<ul class="pagination">
    <li class="arrow {{ if .leftUnavailable }}unavailable{{end}}"><a href="">&laquo;</a></li>
    {{.content}}
    <li class="arrow {{ if .rightUnavailable }}unavailable{{end}}"><a href="">&raquo;</a></li>
</ul>
