/**
 * @provide 'foundation.PaginationItem'
 */
ul.pagination li.current a:hover, ul.pagination li.current a:focus {
    background: #2ba6cb;
}

ul.pagination li.current a {
    background: #2ba6cb;
    color: white;
    font-weight: bold;
    cursor: default;
}

ul.pagination li a {
    display: block;
    padding: 0.0625em 0.4375em 0.0625em;
    color: #999999;
}

ul.pagination li {
    float: left;
    display: block;
    height: 1.5em;
    color: #222222;
    font-size: 0.875em;
    margin-left: 0.3125em;
}

ul.pagination li:hover a, ul.pagination li a:focus {
    background: #e6e6e6;
}

ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus {
    background: transparent; 
}
